<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.market.business.mapper.MarketMapper">
  <resultMap id="BaseResultMap" type="com.market.business.entity.Market">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="market_id" jdbcType="VARCHAR" property="marketId" />
    <result column="market_address" jdbcType="VARCHAR" property="marketAddress" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="close_time" jdbcType="TIMESTAMP" property="closeTime" />
    <result column="resolve_time" jdbcType="TIMESTAMP" property="resolveTime" />
    <result column="oracle_source" jdbcType="VARCHAR" property="oracleSource" />
    <result column="resolution_method" jdbcType="TINYINT" property="resolutionMethod" />
    <result column="ai_model" jdbcType="VARCHAR" property="aiModel" />
    <result column="tags" jdbcType="VARCHAR" property="tags" />
    <result column="market_status" jdbcType="TINYINT" property="marketStatus" />
    <result column="base_liquidity" jdbcType="DECIMAL" property="baseLiquidity" />
    <result column="yes_price" jdbcType="DECIMAL" property="yesPrice" />
    <result column="no_price" jdbcType="DECIMAL" property="noPrice" />
    <result column="resolved_outcome" jdbcType="TINYINT" property="resolvedOutcome" />
    <result column="total_volume" jdbcType="DECIMAL" property="totalVolume" />
    <result column="risk_status" jdbcType="TINYINT" property="riskStatus" />
    <result column="weight" jdbcType="INTEGER" property="weight" />
    <result column="chain_id" jdbcType="INTEGER" property="chainId" />
    <result column="tx_hash" jdbcType="VARCHAR" property="txHash" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, market_id, market_address, user_id, title, description, close_time, resolve_time, oracle_source,
    resolution_method, ai_model, tags, market_status, base_liquidity, yes_price, no_price,
    resolved_outcome, total_volume, risk_status, weight, chain_id, tx_hash, creator,
    created_time, updated_time
  </sql>


  <!-- 更新市场状态和地址 -->
  <update id="updateMarketAddressAndStatus">
    UPDATE market
    SET market_address = #{marketAddress},
        on_chain_market_id = #{chainId},
        market_status = #{marketStatus},
        updated_time = #{updatedTime}
    WHERE market_id = #{marketId}
  </update>

</mapper>