<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.market.business.mapper.UserMarketMapper">
  <resultMap id="BaseResultMap" type="com.market.business.entity.UserMarket">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="market_id" jdbcType="VARCHAR" property="marketId" />
    <result column="total_pay" jdbcType="DECIMAL" property="totalPay" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, market_id, total_pay, created_time, updated_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_market
    where id = #{id,jdbcType=BIGINT}
  </select>
  <insert id="insert" parameterType="com.market.business.entity.UserMarket">
    insert into user_market (id, user_id, market_id, 
      total_pay, created_time, updated_time
      )
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{marketId,jdbcType=VARCHAR}, 
      #{totalPay,jdbcType=DECIMAL}, #{createdTime,jdbcType=TIMESTAMP}, #{updatedTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.market.business.entity.UserMarket">
    update user_market
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="marketId != null">
        market_id = #{marketId,jdbcType=VARCHAR},
      </if>
      <if test="totalPay != null">
        total_pay = #{totalPay,jdbcType=DECIMAL},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null">
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.market.business.entity.UserMarket">
    update user_market
    set user_id = #{userId,jdbcType=BIGINT},
      market_id = #{marketId,jdbcType=VARCHAR},
      total_pay = #{totalPay,jdbcType=DECIMAL},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>